numpy==2.0.0
opencv_contrib_python==4.9.0.80
Pillow==10.4.0
transformers==4.38.2
psycopg==3.1.18
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytorch-transformers==1.2.0
wheel==0.42.0
whitenoise==6.7.0
torch==2.3.0
asgiref==3.8.1
Django==5.0.7
ffmpeg==1.4
sqlparse==0.5.1
tzdata==2024.1

