{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Detection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Deepfake Detection</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'deepfake_detection' %}">
        {% csrf_token %}
        <label for="file" style="font-size: 1.2em;">Select file type:</label>
        <select name="file_type" id="file_type" style="font-size: 1.2em;">
            <option value="image">Image</option>
            <option value="audio">Audio</option>
            <option value="video">Video</option>
        </select>
        <br>
        <input type="file" name="file">
        <button type="submit">Detect Deepfake</button>
    </form>

    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}

    {% if results %}
    <h2>Results</h2>
    {% if image_with_boxes %}
    <div class="image-container">
        <img src="data:image/jpeg;base64,{{ image_with_boxes }}" alt="Deepfake Image">
    </div>
    <p>Deepfake Score: {{ score }}%</p>
    <p>Classification: {% if results.label == 'FAKE' %} Real {% else %} Fake {% endif %}</p>
    {% endif %}
    {% if video_with_boxes %}
    <div class="video-container">
        <!-- Embed video or display as needed -->
    </div>
    {% endif %}
    {% endif %}
    {% if audio_results %}
<h2>Audio Results</h2>
<ul>
    {% for result in audio_results %}
    <li>{{ result.label }} - Score: {{ result.score }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>
